nav {
    background-color: lightgray;
    display: flex;
    flex-direction: row;  
}

.nav_option {
    padding: 0 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-selected {
        padding: 0 1em;
        text-align: center;

        & > img {
            width: 1.2em;
            vertical-align: middle;
            margin-right: 0.1em;
        }

        & > span {
            vertical-align: middle;
            font-size: 1.2em;
            font-weight: 600;
        }
        
        &:hover {
            cursor: default;
        }
    }

    &:hover {
        background-color: gray;
    }

    & a {
        color: black;
        text-decoration: none;

        & > img {
            width: 1.2em;
            vertical-align: middle;
            margin-right: 0.1em;
        }

        & > span {
            vertical-align: middle;
            font-size: 1.2em;
        }
    }  
}

.nav_view {
    padding: 0 1em;
    text-align: center;
    
    & > img {
        width: 1.2em;
        vertical-align: middle;
        margin-right: 0.1em;
    }

    & > span {
        vertical-align: middle;
        font-size: 1.2em;
    }

    & > select {
        margin-left: 0.5em;
        vertical-align: middle;
    }
}