.dishrecipe {
    padding: 0 2em;

    & a {
        text-decoration: none;
        color: black;
        align-self: center;
    }
    
    &_main {
        display: flex;
        flex-direction: row;
        width: 100%;
        box-shadow: 2px 2px 2px 2px lightgray;
        border-radius: 1em;
        padding: 0em 1.5em 1em;
    
        &_left {
            width: 30%;

            & img {
                width: 100%;
                border-radius: 1em;
            }
        }
    
        &_centre {
            margin: 0 5em;
        }
    
        // &_right {
        //     width: 30%;
        // }
    }
}

.fromtext {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.ingredients {

    display: flex;
    flex-direction: row;
    column-gap: 1em;

    &_ingredients {
        display: flex;
        flex-direction: column;
    }
    
    &_amounts {
        display: flex;
        flex-direction: column;
    }
}