.shoppinglist {
    padding: 0 2em;

    &_title {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &_body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}