.shoppinglistpreview {
    // width: 30%;
    padding: 1.5em 1.5em 1em;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 1em;
    align-self: start;

    &_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: flex-end;
    }

    &_main {

    }

    &_list {
        display: flex;
        flex-direction: row;
        column-gap: 1em;

        &_ingredients {
            display: flex;
            flex-direction: column;
        }
    
        &_amounts {
            display: flex;
            flex-direction: column;
        }
    }
}