.button_download {  
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 9em;
    border-radius: 0.75em;

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
    
    & > img {
        width: 1.2em;
        align-self: center; 
    }
}